<plugin>
<nom>Entités nommées</nom>
<auteur>BoOz</auteur>
<icon></icon>
<licence>(c) 20[1-9]{2} GPL</licence>
<version>0.1</version>
<version_base>0.1</version_base>
<install>base/entites_nommees_upgrade.php</install>
<etat>test</etat>
<description>Trouver des entités nommées dans un texte en regexp sur les Capitales, après avoir isolé des entités connues avec des listes.</description>
<lien></lien>
<prefix>entites_nommees</prefix>
<fonctions>entites_fonctions.php</fonctions>
<options>entites_options.php</options>
<pipeline>
	<nom>declarer_tables_principales</nom>
	<inclure>base/entites_nommees.php</inclure>
</pipeline>

<bouton id="configurer_entites_nommees" parent='menu_configuration'>
	<icone>images/config-contenu-16.png</icone>
	<titre>Entités nommées</titre>
</bouton>

</plugin>
